.day {
    --border-color: var(--color-accent);
    --in-range-bg: var(--color-accent-muted);
    --border-radius: 4px;
}

.in-range,
.range-start,
.range-end {
    color: white;
}

.in-range {
    background-color: var(--in-range-bg);
}

.will-be-in-range,
.in-range {
    border-radius: 0 !important;
}

.range-start:nth-child(7n),
.range-end:nth-child(7n + 1),
.will-be-range-start:nth-child(7n),
.will-be-range-end:nth-child(7n + 1) {
    border-radius: var(--border-radius) !important;
}
