.day {
    --border-color: var(--color-overlay-border);
    --in-range-bg: var(--color-overlay-bg-hover);
    --border-radius: 4px;
}

.in-range {
    color: white;
}

.range-start,
.range-end {
    background-color: var(--color-foreground);
    color: var(--color-background);
}

.will-be-range-start,
.will-be-range-end {
    background-color: var(--color-primary);
}

.in-range {
    background-color: var(--in-range-bg);
}

.will-be-in-range,
.in-range {
    border-radius: 0 !important;
    background-color: var(--in-range-bg);
}

.range-start:nth-child(7n),
.range-end:nth-child(7n + 1),
.will-be-range-start:nth-child(7n),
.will-be-range-end:nth-child(7n + 1) {
    border-radius: var(--border-radius) !important;
}
