@import "tailwindcss";

/* Font-face */

@font-face {
    font-family: Poppins;
    src: url("./assets/fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url("./assets/fonts/Poppins-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    src: url("./assets/fonts/Karla.ttf");
}

@font-face {
    font-family: Museo Sans;
    src: url("./assets/fonts/MuseoSans-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

/* Theme*/

@theme {
    --color-background-1: hsl(224, 76%, 5%);
    --color-background-2: hsl(224, 76%, 8%);
    --color-background-3: hsl(224, 76%, 11%);
    --color-background-4: hsl(224, 76%, 14%);

    --color-foreground: hsl(210, 40%, 98%);
    --color-foreground-muted: hsl(219, 18%, 65%);

    --color-border: hsl(240, 4%, 16%);

    --color-muted: hsl(222, 40%, 11%);
    --color-muted-foreground: hsl(223, 7%, 81%);

    --color-primary: hsl(221, 82%, 62%);
    --color-secondary: hsl(240, 3.7%, 15.9%);
    --color-accent: hsl(221, 52%, 45%);
    --color-accent-muted: hsl(221, 52%, 16%);
    --color-link: hsl(221, 82%, 67%);
    --color-destructive: hsl(0, 62.8%, 30.6%);

    --color-logo: hsl(199, 89%, 48%);

    --color-red: #ff718b;
    --color-green: #7fe47e;

    --font-heading: Poppins;
    --font-content: Karla;
    --font-logo: Museo Sans;
}

/* Global */

body {
    background: var(--color-background-1);
    color: var(--color-foreground);

    @apply font-content text-base font-normal;
}

a {
    @apply text-link font-content text-sm font-bold underline-offset-4 hover:underline;
}

/* Utility to disable selection. */
@utility no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-foreground);
    -webkit-box-shadow: 0 0 0px 1000px var(--color-accent-muted) inset;
    caret-color: var(--color-foreground);
    border-color: var(--color-accent-muted);
    transition: background-color 1000s ease-in-out 0s;
}

/* Typography */

@utility big-heading {
    @apply font-heading text-[32px] font-bold;
}
@utility heading {
    @apply font-heading text-[24px] font-bold;
}
@utility sub-heading {
    @apply font-heading text-[20px] font-semibold;
}
@utility paragraph {
    @apply font-content text-[16px] font-normal;
}
@utility small {
    @apply font-content text-[14px] font-normal;
}

/* Layout */

@utility absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility flex-center {
    @apply flex items-center justify-center;
}
