@import "tailwindcss";

@theme {
  --color-background-1: #00171f;
  --color-foreground-1: #ffffff;
}

body {
  background: var(--color-background-1);
  color: var(--color-foreground-1);
  font-family: Karla, Arial, Helvetica, sans-serif;
}
